<?xml version="1.0"?>
<config>
    <modules>
        <Mack_Api>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </Mack_Api>
    </modules>
    <frontend>
        <routers>
            <mackapi>
                <use>standard</use>
                <args>
                    <module>Mack_Api</module>
                    <frontName>mackapi</frontName>
                </args>
            </mackapi>
        </routers>
    </frontend>
    <global>
    <models>
      <mack_api>
        <class>Mack_Api_Model</class>
      </mack_api>
    </models>
  </global>
</config>